.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
}
.navbar.light {
  --navbar-bg: lightblue;
  --navbar-text: #000000;
}

.navbar.dark {
  --navbar-bg: darkgray;
  --navbar-text: #ffffff;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logoImage {
  width: 40px;
  height: auto;
  margin-right: 50px;
}

.navItems {
  display: flex;
  gap: 10px;
}

.themeToggle {
  margin-left: auto;
}
